.detail-page-wrapper {
    background: #fbf0f0;
    min-height: 100vh;
    padding-top: 100px; /* Jarak agar tidak tertutup Navbar global */
}

.content-area {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main-title {
    color: #100e2f;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 5px;
}

.tagline {
    color: #100e2f;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 40px;
}

.summary-section {
    display: flex;
    gap: 30px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    align-items: center;
}

.summary-image {
    width: 40%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.description-text {
    width: 60%;
    font-size: 18px;
    line-height: 1.6;
}

.detail-row {
    background: white;
    padding: 20px 30px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.detail-label {
    font-weight: 600;
    color: #333;
}

/* Membuat status menjadi warna hijau */
.status-green {
    color: #28a745;
    font-weight: bold;
    text-transform: lowercase;
}

.back-button {
    background: #17143a;
    color: white;
    padding: 15px 60px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
}